<div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
          {{!-- for meduim devices it will hold 10 columns and for mobile 12 spaces --}}
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading ">About Us</h1>
            <p class="text-center sub-heading">grow your busniess with us</p>
            <div class="row">
              
              {{!-- order-1 means this div will go down then div with less order --}}
              {{!-- left side --}}
              <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                <figure>
                    <img src="/images/about.svg">
                </figure>
                  
              </div>  
              {{!-- right-side --}}
              <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-center flex-column">
                  <h1>WE ARE THE PROFESSIONAL DEVELOPER ✌ </h1>
                  <p>Welcome To The <span class="bold-style">Dheeraj Technical</span>. Your Number One Source For All Things.We're Dedicated To Give You The Very Best Of Work. With A Focus On [Three Characteristics. Ie: Dependability, Customer Services And Uniqueness.]</p>
                  <button class="btn-style btn-primary">READ MORE</button>
              </div>
              

            </div>
          </div>

        </div>

      </div>