<div class="container-fluid mt-5">
        <div class="row">
          {{!-- for meduim devices it will hold 10 columns and for mobile 12 spaces --}}
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              {{!-- order-1 means this div will go down then div with less order --}}
              {{!-- left side --}}
              <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                  <h1>WE WILL HELP YOU TO</h1>
                  <h1>GROW YOUR BUSNIESS</h1>
                  <p>We Are The Team Of <span class="bold-style">Professional Developers</span></p>
                  <button class="btn-style btn-primary">READ MORE</button>
              </div>
              {{!-- right-side --}}
              <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                <figure>
                    <img src="/images/growth.svg">
                </figure>
                  
              </div>  

            </div>
          </div>

        </div>

      </div>